html,
body {
  padding: 0;
  margin: 0;
  font-family: "seoul-hangang-jung-m" !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.slick-prev::before {
  color: #039be5 !important;
}
.slick-next::before {
  color: #039be5 !important;
}
.Typist .Cursor {
  display: inline-block;
}
.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 0.7s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blinkBtn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes motion {
  0% {
    bottom: 50px;
  }
  100% {
    bottom: 40px;
  }
}

.custom-slick:focus{
  outline: 0;
}