@import url("//cdn.materialdesignicons.com/1.9.32/css/materialdesignicons.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
@import url("https://code.getmdl.io/1.3.0/material.indigo-blue.min.css");

.card-container {
  width: 400px;
  height: 500px;
  margin: 30px auto;
  position: relative;
  /* perspective: 600px; */
}
.card-container .left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 2;
}
.card-container .left:hover {
  width: 100%;
  z-index: 3;
}
.card-container .right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 2;
}
.card-container .right:hover {
  width: 100%;
  z-index: 3;
}
.card-container .card {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.card-container .card > div {
  background-color: white;
  transition: transform 0.7s ease-in-out;
}
.card .cover {
  width: 100%;
  height: 200px;
  background-size: cover !important;
}
.card .name {
  text-align: center;
}
.card-container .left:hover ~ .card > .back {
  transform: rotateY(0);
}
.card-container .left:hover ~ .card > .front {
  transform: rotateY(180deg);
}
.card-container .right:hover ~ .card > .back {
  transform: rotateY(0);
}
.card-container .right:hover ~ .card > .front {
  transform: rotateY(-180deg);
}

.card .front,
.card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0px 4px 5px -2px rgb(0 0 0 / 20%),
    0px 7px 10px 1px rgb(0 0 0 / 14%), 0px 2px 16px 1px rgb(0 0 0 / 12%);
}

.card .back {
  padding: 20px;
  transform: rotateY(180deg);
}

.card .back {
  align-items: center;
  justify-content: center;
}
